body {
  background-color: red;
}

h1 {
  background: yellow;
  border-radius: 10px;
}

h1:hover {
  transition: color 1s ease;
  color: red;
}

h2:hover {
  transition: color 1s ease;
  color: red;
}
